html {
  background-color: yellow;
  background: #00ffff url ('./img/ss036.gif');
  /*background-repeat: repeat;*/
  /*background-size: 500px 500px;*/
}

body {
  font-size: 10px;
}

#plaX {
  float: left;
  font-size: 30px;
}

#plaO {
  float: right;
  font-size: 30px;
}

#gamefield {
  width: 314px;
  height: 314px;
  margin: 0 auto;
}

.cell {
  border: red solid 1px;
  width: 100px;
  height: 100px;
  /* display: inline-block; */
  float: left;
  text-align: center;
  font-size: 80px;
  background-size: 100px 100px;
  background-image: ("./img/wood005.jpg");
}

h1 {
  font-size: 80px;
  text-align: center;
  border: blue solid 10px;
  background-image: ("./img/wood005.jpg");
}

footer {
  font-style: italic;
  text-align: center;
  color: #aaaaaa;
}
