body {
  font-size: 10px;
}

#gamefield {
  width: 314px;
  height: 314px;
  margin: 0 auto;
}

.cell {
  border: red solid 1px;
  width: 100px;
  height: 100px;
  /* display: inline-block; */
  float: left;
  text-align: center;
  font-size: 80px;
}
h1 {
  font-size: 80px;
  text-align: center;
  border: blue solid 10px;
}
